// Define variables color scheme

$dark_green: rgb(0,40,1);
$mint_green: rgb(27,139,0);
$lemon_green: rgb(162,210,64);
$light_green:rgb(212,230,144);
$red:rgb(254,2,41);
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: rgb(234,241,250);
$mainWhite: #fff;
