<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-8">
      <div class="container-forms">
        <h2>Create a new cocktail</h2>

        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name,
              input_html: {maxlength: 20},
              hint: "Cocktail name should have max 20 characters"%>
          <%= f.input :photo, as: :file %>

          <div class="form-actions btn-forms">
            <%= f.button :submit, "Create Cocktail", class: "btn-forms"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>