<section class="banner">
  <div class="container p-0 m-5">
    <div class="row justify-content-start">
      <div class="col-lg-7  col-md-10 col-sm-12">
        <h2>but<br>first,<br>Cocktail(s)</h2>
      </div>
    </div>
  </div>
</section>