.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  transform: scale(0.95);
  transition: box-shadow 0.4s, transform 0.4s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 18px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.cocktails-show{
  margin-top: 5rem;
}
header.jumbotron {
  text-align: center;
  background-image: url('cocktail-bar.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
header.jumbotron .container {
  color: white;
  padding: 250px 0px;
}
header.jumbotron hr {
  max-width: 50px;
  border: solid 2px #1a1a1a;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

section {
  padding: 50px 0px;
}