.container-forms {
  padding-top: 10rem;
}
 .form-actions.btn-forms {
   background-color: crimson;
   text-align: center;
   color: white !important;
   padding: 0.8rem;
   border-radius: 4px;
   font-size: 1.2rem;
   margin-top: 1.4rem;
 }
 .btn.btn-forms{
   color: white !important;
   font-size: 1.2rem;
 }
